---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
const visibleHeadings = headings.filter((heading) => heading.depth > 1);
---

{
  visibleHeadings.length > 0 && (
    <div class="space-y-2">
      <p class="font-medium">On This Page</p>
      <ul class="m-0 list-none">
        {visibleHeadings.map((heading) => (
          <li class="mt-0 pt-2">
            <a
              href={`#${heading.slug}`}
              class="inline-block no-underline transition-colors hover:text-foreground text-muted-foreground"
              style={`padding-left: ${Math.max(0, heading.depth - 2) * 1}rem;`}
            >
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </div>
  )
}
