---
import type { DocPage } from "../../lib/docs";

type Props = {
	previousPage?: DocPage;
	nextPage?: DocPage;
};

const { previousPage, nextPage } = Astro.props;
---

{
  (previousPage || nextPage) && (
    <div class="flex flex-row items-center justify-between pt-8 border-t mt-12">
      {previousPage ? (
        <a
          href={previousPage.url}
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="mr-2 h-4 w-4"
          >
            <path d="m15 18-6-6 6-6" />
          </svg>
          {previousPage.title}
        </a>
      ) : (
        <div />
      )}

      {nextPage && (
        <a
          href={nextPage.url}
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 ml-auto"
        >
          {nextPage.title}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="ml-2 h-4 w-4"
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
        </a>
      )}
    </div>
  )
}
